#my_card1 {
    width: 300px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
#my_card2 {
    width: 600px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
#red {
    width: 200px;
    height: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
}

